<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>About Us - Google Map</h1>
    <div id="map"></div>
    
    <script src="js/aboutus.js" type="text/javascript"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK4zsX4o0Z4U9ZEywU6T3NOSaT7b73ceA&callback=initMap">
        </script>

</body>

</html>