<!DOCTYPE html>
<html>
    <head>

            <link href="css/main.css" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
         <%- include('header'); -%>
        <section class="wr_report">
            <article class="wr-50 d-flex">
                    <div class="wr-75">
                            <h1>Arjan Bhullar becomes first Indian</h1>
                            <p>Arjan Bhullar became the first Indian-origin fighter to win a world title in a top-level MMA promotion when he beat Brandon Vera to become the heavyweight world champion at the Singapore-based One Championship.
                                Arjan Bhullar became the first Indian-origin fighter to win a world title in a top-level MMA promotion when he beat Brandon Vera to become the heavyweight world champion at the Singapore-based One Championship.
                            </p>
                            
                    </div>
                    <div class="wr-25">
                        <h4>Arjan Bhullar becomes first Indian</h4>
                        <p>Arjan Bhullar became the first Indian-origin fighter to win a world title in a top-level MMA promotion when he beat Brandon Vera to become the heavyweight world champion at the Singapore-based One Championship.
                            
                        </p>
                    </div>
            </article>
            <article class="wr-50 d-flex m-10">
                <div class="wr-75">
                    <h1>Arjan Bhullar becomes first Indian</h1>
                    <p>Arjan Bhullar became the first Indian-origin fighter to win a world title in a top-level MMA promotion when he beat Brandon Vera to become the heavyweight world champion at the Singapore-based One Championship.
                        Arjan Bhullar became the first Indian-origin fighter to win a world title in a top-level MMA promotion when he beat Brandon Vera to become the heavyweight world champion at the Singapore-based One Championship.
                    </p>
                    
            </div>
            <div class="wr-25">
                <h4>Arjan Bhullar becomes first Indian</h4>
                <p>Arjan Bhullar became the first Indian-origin fighter to win a world title in a top-level MMA promotion when he beat Brandon Vera to become the heavyweight world champion at the Singapore-based One Championship.
                    
                </p>
            </div>

            </article>
        </section>
        <section class="wr_report m-10">
                <article class="w-75 d-flex">
                        <img src="images/img.jpg" width="400px" height="400px">
                        <p class="m-10">
                            Arjan Bhullar became the first Indian-origin fighter to win a world title in a top-level MMA promotion when he beat Brandon Vera to become the heavyweight world champion at the Singapore-based One Championship.
                            Arjan Bhullar became the first Indian-origin fighter to win a world title in a top-level MMA promotion when he beat Brandon Vera to become the heavyweight world champion at the Singapore-based One Championship.
                            Arjan Bhullar became the first Indian-origin fighter to win a world title in a top-level MMA promotion when he beat Brandon Vera to become the heavyweight world champion at the Singapore-based One Championship.
                        </p>
                </article>
        </section>
            <div class="scrolly">
                <h2 class="topT">Top Sports News</h2>
                <button id="left"><span class="material-icons">chevron_left</span></button>
                <button id="right"><span class="material-icons">chevron_right</span></button>
            <ul class="carouselPre">
                <li class="itemsC">
                    <div class="contents">
                        <h1 class="leftTxtDet">Dance Now!</h1>
                        <div class="textDet" style="background-color: #51507c"><p>ODESZA, Jai Wolf, Kelly Clarkson, DNCE, P!nk, Jason Derulo, Ed Sheeran, WALK THE MOON, Billie Eilish, Ritt Momney, Jonas Brothers, Shawn Mendes</p></div>
                    </div>
                    <div class="bgImg"><img src="https://lastfm.freetls.fastly.net/i/u/ar0/e79f7269fcfb07e2beb25f573eb75125.jpg" alt="image" srcset=""></div>
                </li>
                <li class="itemsC">
                    <div class="contents">
                        <h1 class="leftTxtDet">Power!</h1>
                        <div class="textDet" style="background-color: #2c3e48"><p>Billie Eilish, Jai Wolf, Kelly Clarkson, DNCE, P!nk, Jason Derulo, Ed Sheeran, WALK THE MOON, Billie Eilish, Ritt Momney, Jonas Brothers, Shawn Mendes</p></div>
                    </div>
                    <div class="bgImg"><img src="https://pbs.twimg.com/media/EFeJlnYWwAAT-A5.jpg" alt="image" srcset=""></div>
                </li>
                <li class="itemsC">
                    <div class="contents">
                        <h1 class="leftTxtDet">Hope</h1>
                        <div class="textDet" style="background-color: #013e6a"><p>Panic at the Disco, Jai Wolf, Kelly Clarkson, DNCE, P!nk, Jason Derulo, Ed Sheeran, WALK THE MOON, Billie Eilish, Ritt Momney, Jonas Brothers, Shawn Mendes</p></div>
                    </div>
                    <div class="bgImg"><img src="https://i.pinimg.com/736x/46/73/28/46732810e13cdc88864b03b5e234c58a.jpg" alt="image" srcset=""></div>
                </li>
                <li class="itemsC">
                    <div class="contents">
                        <h1 class="leftTxtDet">Dance Now!</h1>
                        <div class="textDet" style="background-color: #b30003"><p>Dua Lipa, Jai Wolf, Kelly Clarkson, DNCE, P!nk, Jason Derulo, Ed Sheeran, WALK THE MOON, Billie Eilish, Ritt Momney, Jonas Brothers, Shawn Mendes</p></div>
                    </div>
                    <div class="bgImg"><img src="https://www.hqdiesel.net/gallery/albums/userpics/10004/normal_hqdiesel0969.jpg" alt="image" srcset=""></div>
                </li>
                <li class="itemsC">
                    <div class="contents">
                        <h1 class="leftTxtDet">Boy with Luv!</h1>
                        <div class="textDet"><p>BTS, Jai Wolf, Kelly Clarkson, DNCE, P!nk, Jason Derulo, Ed Sheeran, WALK THE MOON, Billie Eilish, Ritt Momney, Jonas Brothers, Shawn Mendes</p></div>
                    </div>
                    <div class="bgImg"><img src="https://i.pinimg.com/originals/18/81/06/1881067a91a6f83c320166ed0fb401b5.png" alt="image" srcset=""></div>
                </li>
        
            </ul>
        </div>
        
        <%- include('footer'); -%>
    </body>
    <script src="js/main.js" type="text/javascript"></script>
</html>